* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: white;
  /* padding: 20px 10px; */
}

/* Style the header links */
.header a {
  float: left;
  color: rgb(48, 48, 48);
  text-align: center;
  padding: 20px 18px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  font-family: inherit;
}

.auth {
  margin-left: 10px;
}



/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: bolder;
  color: red;
  margin-left: 40px;
}



/* Change the background color on mouse-over */
.header a:hover {
  background-color: #f3f5f7;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
}
/* Float the link section to the right */
.header__right-menu {
  float: right;
}

/*button */

.dropbtn--lang {
  line-height: 25px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  color: #292222;
  background-color:white ;
  padding: 20px 18px;
  font-family: inherit;
  cursor: pointer;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px;
}

.dropbtn--lang:hover {
  background-color: #f3f5f7;
  border-style: solid;
}
.language-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
} 

.language-dropdown a {
  margin-left: 10px;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 500;
}

.dropdown:hover .language-dropdown {
  display: block;

}

.language-dropdown a:hover {
  border: none;
  background-color: white;
  color: red;
}

#scroll-navbar {
  background-color: white;
  position: fixed;
  top: -50px;
  width: 100%;
  transition: top 0.3s;
  padding: 10px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

#scroll-navbar a {
  float: left;
  display: block;
  color: black;
  text-decoration: none;
  font-size: 40px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  margin-left: 20px;
}

.nav-search {
  margin-left: 20%;

}

.nav-search input {
  width: 400px;
  text-align: center;
}

.nav-search button {
  background: #1ab64f;
}

.nav-search button:hover {
  background-color: #115f2b;

}



.navbar {
  overflow: hidden;
  background-color: #f3f5f7;
  border-top: 1px;
}

.navbar a {
  float: left;
  font-size: 14px;
  font-weight: 400;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 14px;
  font-weight: 400;
  border: none;
  outline: none;
  color: rgb(48, 48, 48);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin-left: 48px;
  cursor: pointer;
}

/* .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  } */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  margin-left: 48px;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content p {
  margin-left: 22px;
  margin-top: 23px;
  font-weight: 600;
  color: #292222;
}
.dropdown-content a {
  margin-left: 10px;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: red;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Column container */
.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
}

/*Search Box*/
.search-container {
  background: linear-gradient(135.46deg, #d11450, #df293a);
  color: white;
  padding: 30px;
  text-align: center;
}

.search__box {
  display: flex;
}

.search__box button {
  padding: 18px;
  width: 140px;
  color: white;
  background: #1ab64f;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.search__box button:hover {
  background-color: #115f2b;
}
.search-container input[type=text] {
  text-align: center;
  width: 40%;
  padding: 12px;
  font-size: 17px;
  border-width: 1px;
  margin-left: 25%;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */

.side {
  -ms-flex: 30%;
  /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Fake image, just for this example */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 150px;
}

.alert-card {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px;
  width: 90%;
  height: 20%;
  margin: 25px;
  margin-left: auto;
  margin-right: auto;
}

.alert-box-desc h3 {
  margin-left: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 23px;
}

.alert-box-desc p {
  margin-left: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gray;
  font-size: 14px;
}

.alert-box {
  padding: 45px;
  display: flex;
  flex-flow: row;
}

.alert-box button {
  margin-left: 10px;
  padding: 12px;
  width: 200px;
  background-color: #ee2a24;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin-right: 50px;
  border: none;
}

.alert-box input {
  width: 500px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  margin-left: 40%;
  font-size: 14px;
  font-weight: bold;
  border-color: #e0e0e0;
  border-width: 1px;
  font-family: sans-serif;
}

/* .suggestion {
  border-radius: 0;
  height: 128px;
  width: 172px;
  margin-left: 40px;
}

.room-suggestion {
  padding: 5px;
  margin-left: 60px;
}

.room-card {
  display: flex;
  margin-left: 40px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 25%);
  width: 200px;
  margin: 25px;
  text-align: center;
  cursor: pointer;
}

.card-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img img {
  width: 100%;
  height: auto;
}

.card-desc {
  text-align: center;
  margin-top: 20px;
}

.card-desc h3 {
  font-size: 14px;

}

.card-desc p {
  font-size: 12px;
  margin-top: 10px;
}

.card-desc span {
  font-size: 14px;
  color: red;
} */

.map__widget {
  background-color: #f3f5f7;
  display: flex;
}
.map-bg {
  margin-top: 60px;
  background-image: url("/images/map-widget.jpg");
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 500px;
} 
.map-desc {
  margin-left: 54%;
  color: #292222;
}

.map-desc h1 {
  font-size: 28px;
  font-family: sans-serif;
  color: #292222;
}

.map-desc p {
  color: #48494a;
  font-weight: 400;
}

.numbers {
  display: flex;
}
.bold-number1 {
  font-size: 22px;
  color: #292222;
}

.bold-numbers {
  font-size: 22px;
  margin-left: 70px;
  color: #292222;
}
.type {
  margin-left: 70px;
  color: #48494a;
}

.country-list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 40px;
}
.country {
  text-decoration: none;
  color: #48494a;
}


/* Footer */

.footer {
  padding: 20px;
  text-align: center;
  background: #6d787d;
  color: white;
}

.footer__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer__row-link {
  display: flex;
  flex-direction: column;
  margin-left: 90px;

}

.footer__col-link {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
}

.footer__row-link a {
  text-decoration: none;
  margin-top: 23%;
  color: white;
}

.footer__col-link a {
  text-decoration: none;
  margin-top: 15%;
  color: white;
}

#hr {
  width: 90%;
}

/* Responsive layout - when the screen is less than 700px wide, make the
   two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the
   navigation links stack on top of each other instead of next to each 
  other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}